html {
	font-family: 'Trebuchet MS', sans-serif;
	text-align: center;
	height: 100%;
	margin: 28px;
	width: 100%;
}

header {
	border: 5px solid black;
	padding-top: 10px;
	margin-left: 500px;
	margin-right: 500px;
}

h1 {
	font-family: 'Trebuchet MS', sans-serif;
	text-align: center;
	display: inline;
	margin-top: 10px;

}

h2 {
	border: 2px solid black;
	margin-left: 700px;
	margin-right: 700px;
}

h3 {
	margin-top: 38px;
}

body {
	margin-bottom: 70px;
	
}

p {
	max-width: 700px;
	margin-left: 500px;
	margin-right: 500px;
	
}

.exp {
	margin-top: 50px;
}

.vol {
	margin-top: 70px;
}

.other {
	margin-top: 70px;
}

.other2 {
	margin-top: 70px;
}

html {
	background-color: #5F9FE0;
	background-image: url(https://scontent-ord1-1.xx.fbcdn.net/v/t1.0-9/282065_4726728286092_922551418_n.jpg?oh=4aa57e554bae81bd76f78a7aceee1752&oe=57A12E5F);
	background-size: 435px 640px;
	background-repeat: no-repeat;
}